src/main/resources/servicesPath/services/conf/META-INF/CSPResponseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="iptv" xmlns:impl="iptv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="iptv" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <schema targetNamespace="iptv" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="iptv">
<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<complexType name="CSPResult">
<sequence>
<element name="Result" type="xsd:int"/>
<element name="ErrorDescription" nillable="true" type="soapenc:string"/>
</sequence>
</complexType>
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><xsd:element name="ResultNotify"><xsd:complexType><xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element form="unqualified" name="CSPID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="LSPID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="CorrelateID" nillable="true" type="ns0:string"/><xsd:element form="unqualified" name="CmdResult" nillable="true" type="xsd:int"/><xsd:element form="unqualified" name="ResultFileURL" nillable="true" type="ns0:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="ResultNotifyResponse"><xsd:complexType><xsd:sequence><xsd:element form="unqualified" name="ResultNotifyReturn" nillable="true" type="ns1:CSPResult"/></xsd:sequence></xsd:complexType></xsd:element></schema>
  </wsdl:types>
  <wsdl:message name="ResultNotifyResponse">
    <wsdl:part name="ResultNotifyReturn" type="impl:CSPResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResultNotifyRequest">
    <wsdl:part name="CSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="LSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CorrelateID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CmdResult" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="ResultFileURL" type="soapenc:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CSPResponse">
    <wsdl:operation name="ResultNotify" parameterOrder="CSPID LSPID CorrelateID CmdResult ResultFileURL">
      <wsdl:input name="ResultNotifyRequest" message="impl:ResultNotifyRequest">
    </wsdl:input>
      <wsdl:output name="ResultNotifyResponse" message="impl:ResultNotifyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ctmsSoapBinding" type="impl:CSPResponse">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ResultNotify">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ResultNotifyRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:input>
      <wsdl:output name="ResultNotifyResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSPResponseService">
    <wsdl:port name="ctms" binding="impl:ctmsSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
